Finance_Items/T2_Silver/Silver_COUPA/COUPA_Ingest_Bronze_to_Silver_test.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Coupa_tables').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "d6761631-0c42-b9c9-45af-67e90b764808",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "table_name": {
                    "value": {
                      "value": "@item().table_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "COUPA_format_column",
              "dependsOn": []
            }
          ]
        },
        "name": "COUPA_rename_all_columns",
        "dependsOn": [
          {
            "activity": "Coupa_tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "c817a74b-3969-b8c1-4ff0-dbbc8228e315",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingest_invoice_header",
        "dependsOn": [
          {
            "activity": "COUPA_rename_all_columns",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "dcac6191-3a48-bf55-491f-a2450a927464",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Ingest_supplier",
        "dependsOn": [
          {
            "activity": "Ingest_invoice_header",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Configuration",
                "fileName": "COUPA_config.json"
              }
            },
            "schema": {},
            "connectionSettings": {
              "name": "Silver_COUPA_Test",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "d23fb23b-1264-91dd-48a5-4401cbdc82e1",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "externalReferences": {
                  "connection": "52c199a9-e794-49fc-aee4-ac7d9edffe87"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Coupa_tables",
        "dependsOn": []
      }
    ]
  }
}