Horizon_items/T1_Bronze/Bronze_Horizon_Pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "2566139a-10d2-9fbc-4c72-357c5a9f5064",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "workspaceID": {
              "value": {
                "value": "@activity('Lookup_Horizon_Configuration').output.firstRow.workspaceID",
                "type": "Expression"
              },
              "type": "string"
            },
            "lakehouseID": {
              "value": {
                "value": "@activity('Lookup_Horizon_Configuration').output.firstRow.lakehouseID",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lakehouse_and_Files_Mounting",
        "description": "Mounts target lakehouse, and list of files to iterate over",
        "dependsOn": [
          {
            "activity": "Lookup_Horizon_Configuration",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "CSV_list",
          "value": {
            "value": "@activity('Lakehouse_and_Files_Mounting').output.result.exitValue",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "CSV_File_list",
        "description": "Sets the output of Lakehouse_and_Files Mounting notebook to a variable for future activities.",
        "dependsOn": [
          {
            "activity": "Lakehouse_and_Files_Mounting",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@json(activity('Lakehouse_and_Files_Mounting').output.result.exitValue)\n",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "77e06dfb-fcd1-a784-48e7-03369712a51c",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "file_name": {
                    "value": {
                      "value": "@item()",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "last_modified": {
                    "value": {
                      "value": "@activity('Get FileMetaData').output.lastModified",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "workspaceID": {
                    "value": {
                      "value": "@activity('Lookup_Horizon_Configuration').output.firstRow.workspaceID",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "lakehouseID": {
                    "value": {
                      "value": "@activity('Lookup_Horizon_Configuration').output.firstRow.lakehouseID",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "CSV clean and load",
              "description": "cleans CSV columns and other possible error inducing formats",
              "dependsOn": [
                {
                  "activity": "Get FileMetaData",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "GetMetadata",
              "typeProperties": {
                "datasetSettings": {
                  "type": "DelimitedText",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "Input",
                      "fileName": {
                        "value": "@item()",
                        "type": "Expression"
                      }
                    },
                    "columnDelimiter": ",",
                    "quoteChar": "\"",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true
                  },
                  "schema": [],
                  "linkedService": {
                    "name": "Bronze_Horizon_Test",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "ffbf7d29-99b3-8397-4a83-48156726287a",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "fieldList": [
                  "lastModified"
                ],
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "enablePartitionDiscovery": false
                },
                "formatSettings": {
                  "type": "DelimitedTextReadSettings"
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get FileMetaData",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Input",
                        "fileName": {
                          "value": "@item()",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Bronze_Horizon_Test",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "ffbf7d29-99b3-8397-4a83-48156726287a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Archive",
                        "fileName": {
                          "value": "@item()",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Bronze_Horizon_Test",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "ffbf7d29-99b3-8397-4a83-48156726287a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Archive file",
              "dependsOn": [
                {
                  "activity": "CSV clean and load",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Delete",
              "typeProperties": {
                "enableLogging": false,
                "datasetSettings": {
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "Input",
                      "fileName": {
                        "value": "@item()",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Bronze_Horizon_Test",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "ffbf7d29-99b3-8397-4a83-48156726287a",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Delete Original File",
              "dependsOn": [
                {
                  "activity": "Archive file",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "CSV loader",
        "dependsOn": [
          {
            "activity": "CSV_File_list",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Configuration",
                "fileName": "Horizon_config.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "Bronze_Horizon_Test",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "ffbf7d29-99b3-8397-4a83-48156726287a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_Horizon_Configuration",
        "dependsOn": []
      }
    ],
    "variables": {
      "CSV_File_list": {
        "type": "Array"
      },
      "CSV_list": {
        "type": "String"
      },
      "CSV": {
        "type": "Array"
      }
    }
  }
}