Finance_Items/T1_Bronze/Bronze_SUN/SUN_pipeline_Test_copy1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "075ef5b2-adfe-ad7d-483b-efdb621c8f7c",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SUN_PULL_Test",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "cec1f0f0-1393-875a-46b4-622aaaa62cf4",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "workspaceID": {
              "value": {
                "value": "@activity('Lookup_SUN_Configuration').output.firstRow.workspaceID",
                "type": "Expression"
              },
              "type": "string"
            },
            "lakehouseID": {
              "value": {
                "value": "@activity('Lookup_SUN_Configuration').output.firstRow.lakehouseID",
                "type": "Expression"
              },
              "type": "string"
            },
            "table_name": {
              "value": {
                "value": "@activity('Lookup_SUN_Configuration').output.firstRow.table_name",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Metadata_Append_NB",
        "dependsOn": [
          {
            "activity": "Lookup_SUN_Configuration",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Configuration",
                "fileName": "SUN_config.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "Bronze_SUN_Test",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "25d43c5d-29b7-afd9-47c3-b253c39d0feb",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_SUN_Configuration",
        "dependsOn": [
          {
            "activity": "SUN_PULL_Test",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "SUN_ChartofAccounts",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "SUN_StandardTCodes",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "workspaceId": "cb65a0a4-f1b1-4adf-aaed-7cbff0148ef8",
          "notifyOption": "NoNotification"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SUN_ChartofAccounts",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "workspaceId": "cb65a0a4-f1b1-4adf-aaed-7cbff0148ef8",
          "notifyOption": "NoNotification"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SUN_StandardTCodes",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      }
    ]
  }
}